.header {
  padding: 16px 0px;
}
 
// .logo-header {
//   margin-right: 85px;
// }

.navigation-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .nav-menu {
//   display: flex;
//   margin-right: auto;
//   position: relative;
// }

// .nav-menu-item {
//   position: relative;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .nav-menu-link {
//   padding: 32px 0px;
//   color: $black;
//   &:hover,
//   &:focus {
//     color: $skyblue-color;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &::after {
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 4px;
//     margin-top: 29px;
//     content: "";
//     margin-left: auto;
//     margin-right: auto;
//     border-radius: 2px;
//     transform: scaleX(0);
//   }
//   &:hover::after {
//     background-color: $skyblue-color;
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     transform: scaleX(1);
//   }
// }

// .address-header {
//   display: inline-flex;
//   align-items: center;
// }

// .header-mail,
// .header-tel {
//   fill: $grey-color;
//   color: $grey-color; 
//   padding: 32px 0px;
//   &:hover,
//   &:focus {
//     fill: $skyblue-color;
//     color: $skyblue-color;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .svg-icon-header {
//   margin-right: 10px;
// }


