.header {
  position: relative;
  padding: 16px 0px;
}
 
.logo-header {
  display: flex;
  margin-right: 81px;
}

.word-blue {
  margin-right: 5px;
}

.navigation-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


