.sections-customers {
  // text-align: center;
  background-color: $white-color;
  padding: 60px 0px;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items-customer {
  padding: 15px;
}

.items-customer-logo {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  &:hover,
  &:focus {
    fill: $skyblue-color;
    border: 1px solid $skyblue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
