// .section-work {
//   background-color: $white-color;
//   padding: 47px 0px 94px 0px;
// }

// .items-work {
//   position: relative;
// }

// .work-description {
//   position: absolute;
//   margin: 0;
//   bottom: 0px;
//   width: 100%;
//   padding: 27px 0px;
//   background-color: rgba(47, 48, 58, 0.8);
// }
