.section-our-team {
  padding: 60px 0px;
  background-color: rgba(245, 244, 250, 1);
}

.items-our {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.img-team-member {
  // ширина временно?
  width: 100%;
  margin-bottom: 30px;
}

.team-member {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 10px;
}

.occupation-description {
  margin-bottom: 16px;
}

.svg-icon:not(:last-child) {
  margin-right: 10px;
}

.social-networks-link {
  display: flex;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $white-color;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: $skyblue-color;
    color: $white-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-networks-svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
