.footer {
    @media screen and (min-width: 1170px) {
        text-align: unset;
        padding: 60px 0px 0px 0px;
    } 
}

.footer-section {
    @media screen and (min-width: 1170px) {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}

.footer-adress-container {
    @media screen and (min-width: 1170px) {
        margin-right: 69px;       
    }
}

.join-in-container {
    @media screen and (min-width: 1170px) {
        margin: 13px 94px 0px 0px;

    }
}

.footer-svg-link {
    @media screen and (min-width: 1170px) {
        margin-left: 0;
    }
}

.subscribe {
    @media screen and (min-width: 1170px) {
        display: flex;
    }
}

.footer-label {
    @media screen and (min-width: 1170px) {
        display: flex;
        align-items: center;
    }
}

.inputtext {
    @media screen and (min-width: 1170px) {
        width: 358px;
        margin: 0px 12px 0px 0px;
    }
}

.text_email_footer {
    @media screen and (min-width: 1170px) {
        top: 15px;
        left: 15px;  
    }
}

.footer-label:focus-within > .text_email_footer {
    @media screen and (min-width: 1170px) {
        transform: translateY(-30px);
    }
}