// Герой
.hero-section {
    @media screen and (min-width: 1170px) {
        padding: 200px 0px;
    } 
}
// Особенности
.section-features {
        @media screen and (min-width: 1170px) {
            padding: 94px 0px;
    }
}

.items-features {
    @media screen and (min-width: 1170px) {
       width: calc(
           (100% - 4 * 30px)/4
       );
    }
}
// Чем занимаемся
.section-work {
    @media screen and (max-width: 1170px) {
        display: none;
    }
}

.work-list {
    @media screen and (min-width: 1170px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.items-work{
    @media screen and (min-width: 1170px) {
        width: calc(
            (100% - 3 * 30px)/3
        );
        margin: 15px;
    }
}
// Наша команда
.section-our-team {
    @media screen and (min-width: 1170px) {
        padding: 94px 0px;
    }
}

.items-our {
    @media screen and (min-width: 1170px) {
        width: calc(
            (100% - 4 * 30px)/4
        );
    }
}
// Клиенты
.sections-customers {
    @media screen and (min-width: 1170px) {
        padding: 94px 0px;
    }
}

.items-customer {
    @media screen and (min-width: 1170px) {
        width: calc(
            (100% - 6 * 30px)/6
        );
    }
}
