.footer-tablet {
    @media screen and (min-width: 738px) {
        display: flex;
        justify-content: space-around;
    }
}

.footer-label {
    text-align: center;
}

.inputtext {
        @media screen and (min-width: 738px) {
           width: 70%;
           margin-right: 10px;
           margin-left: 10px;
    }
}

.text_email_footer {
    @media screen and (min-width: 738px) {
        left: 30px;
    }
}

.footer-label:focus-within > .text_email_footer {
    @media screen and (min-width: 738px) {
        transform: translateY(-40px) translateX(-15px);
    }
}