.header {
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.logo-header {
    @media screen and (min-width: 768px) {
        margin-right: 81px;
        padding: 26px 0px;
    }
}

.navigation {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
}

.nav-menu {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav-menu-item {
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0;
        margin-right: 50px;
        &:last-child {
          margin-bottom: 0;
          margin-right: 0px;
        }
    }
}

.nav-menu-link::after {
    @media screen and (min-width: 768px) {
        margin-top: 26px;
        }
}

.contacts {
    @media screen and (min-width: 768px) {
            text-align: justify;
        }
}

.header-mail,
.header-tel {
    @media screen and (min-width: 768px) {
    padding: 3px 0px;
    font-size: 12px;
    line-height: 14px;
    }
}
