.filter {
    @media screen and (min-width: 738px) {
        margin-bottom: 14px;
    }
}

.filter-list {
    @media screen and (min-width: 738px) {
        justify-content: center;
    }
}

.main-list-portfolio {
    @media screen and (min-width: 738px) {
        @media screen and (min-width: 738px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    }
}

.list-item {
    @media screen and (min-width: 738px) {
        width: calc(
        (100% - 2 * 30px)/2
        );
        margin: 15px;
    }
}