// Sasha
.menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px 0px 0px;
    background-color: #fff;
    border: none;
    @media screen and (min-width: 768px){
    display: none;
    }
    &:focus {
        outline: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button .icon-menu {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    border-top: 1px solid #ececec;
    position: absolute;
    background-color: $white-color;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0px;
    &.is-open {
        display: block;
    }
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.navigation,
.contacts {
text-align: center;
}

.nav-menu-item {
  position: relative;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 30px;
  }
}

.nav-menu-item {
    position: relative;
}

.nav-menu-link {
  padding: 10px 0px;
  line-height: 21px;
  color: $black;
  &:hover,
  &:focus {
    color: $skyblue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    transform: scaleX(0);
  }
  &:hover::after {
    background-color: $skyblue-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(1);
  }
}

.header-mail,
.header-tel {
  display: block;
  fill: $grey-color;
  color: $grey-color; 
  padding: 8px 0px;
  &:hover,
  &:focus {
    fill: $skyblue-color;
    color: $skyblue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.svg-icon-header {
  margin-right: 10px;
}


