.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 400px;
  background-color: $white-color;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  &:hover {
    fill: $skyblue-color;
    border: 1px solid $skyblue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    outline: $white-color;
  }
}

.close-modal {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 18px;
  height: 18px;
}

.modal-text {
  padding-bottom: 30px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.form-input {
  width: 288px;
  margin: 0;
  padding: 11px 40px;
  background: $white-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.svg-icon-form {
  position: absolute;
  top: 30%;
  left: 30px;
  transition: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-input:focus:required,
.form-input-textarea:focus:required {
  outline-color: $skyblue-color;
}

.form-input-textarea:not(:placeholder-shown) + .form-label-textarea {
  transform: translateY(-40px) translateX(-40px);
  padding-left: 30px;
}

.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-40px);
  font-size: 12px;
}

.form-field:focus-within > .svg-icon-form {
  fill: $skyblue-color;
}

.form-field:focus-within > .form-label {
  transform: translateY(-40px) translateX(-40px);
  padding-left: 10px;
  color: $skyblue-color;
  font-size: 12px;
}

.comment {
  margin-bottom: 20px;
}

.form-label-textarea {
  position: absolute;
  top: 20px;
  left: 32px;
  transform: translateY(-50%);
  transition: 250ms linear;
}

textarea {
  padding: 10px;
  resize: none;
  width: 348px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field:focus-within > .form-label-textarea {
  transform: translateY(-40px) translateX(-40px);
  padding-left: 30px;
  color: $skyblue-color;
  font-size: 12px;
}

.form-color-link {
  color: $skyblue-color;
}

.form-field-checkbox {
  margin-bottom: 30px;
}

.check-container {
  margin-bottom: 30px;
}

.option {
  display: inline-flex;
  margin-bottom: 0.25em;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check_box {
  box-sizing: border-box;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $black;
  border-radius: 2px;
}

.check_input:checked + .check_box {
  background-image: url("../img/1hero/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
  border: 1px solid $skyblue-color;
  border-radius: 2px;
}