.section,
.main-portfolio,
.footer-section {
    // width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 450px) {
        width: 450px;
    }

    @media screen and (min-width: 738px) {
        width: 738px;
    }

    @media screen and (min-width: 1170px) {
        width: 1170px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // justify-content: center;
}

// h3,
// p {
//     margin-top: 0;
//     margin-bottom: 0;
// }

img {
    display: block;
}

.link {
    text-decoration: none;
}

// .header-mail,
// .items-features:not(:last-child),
// .items-our:not(:last-child),
// .items-work:not(:last-child),
// .items-customer:not(:last-child) {
//     margin-right: 30px;
// }
