$skyblue-color: #2196f3;
$whitegrey-background-color: #f5f4fa;
$grey-color: #757575;
$white-color: #FFFFFF;
$black: #212121;
$Roboto-font: "Roboto", sans-serif;
$Raleway-font: "Raleway", sans-serif;
$footer-bacground: #2f303a;